* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #333;
}

h1,h2,h3,h4,h5 {
  color: #222;
}

a {
  text-decoration: none;
  color: inherit;
}